.headerRow {
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
  padding-right: 2%;
}

.heading {
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  font-weight: bolder;
}

.New_button {
  font-size: medium;
  padding: 5px 12px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s, color 0.3s;
}

.New_button:hover {
  background-color: black;
  color: white;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* semi-transparent dark background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 2%;
  border-radius: 10px;
  width: 40%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  max-height: 70%;
  overflow-y: auto;
}

.modalContent input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.additionalDetails {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.Medication {
  padding-right: 1%;
}
